body{
    display: inline-block;
    width: 100%;
    background-color: #EEEDE7;
}
nav, dropdown-menu, drop-down-item {
    font-family: 'Open Sans', sans-serif;
}
header h1,th{
    color: black;
    width: 100%;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: x-large;
}
tr{
    color: black;
    font-family:'Open Sans', sans-serif;
}
