body{
    width: 100%;
    background-color: #EEEDE7;
}
nav dropdown-menu, drop-down-item {
    font-family: 'Open Sans', sans-serif;
}
 h1{
    text-align: center;
    color: black;
    width: 100%;
    font-family: 'Lobster', cursive;
    font-size: x-large;
}
ul{
    list-style: none;
}
.carousel {
    position: relative;
    height: 600px;
    width:80%;
}
.carousel__track {
    padding:0;
    margin:0;
    display: inline-block;
}